@media only screen and (max-width:768px) {

    body {
    /* font-family: "Baloo Da 2", sans-serif; */
    font-family: SolaimanLipiNormal;
    font-size: 15px;
    line-height: 150%;
   overflow-x: hidden;
   color: #333;
}

p.date-and-time {
    font-size: 14px !important;
}


.news-title {
    font-size: 15px;
    font-weight: 200;
    line-height: 1.25;
    color: #333;
    /* text-align: right; */
}



.p-title-box {
    left: 6px;
    bottom: -8px;
}


h4.lead-news-title-responsive {
    font-size: 20px !important;
}


h4.lead-news-title {
    font-size: 17px !important;
}



.r-mt-1 {
    margin-top: 1px;
}
.r-mt-2 {
    margin-top: 2px;
}
.r-mt-3 {
    margin-top: 3px;
}
.r-mt-4 {
    margin-top: 4px;
}

.r-mt-5 {
    margin-top: 5px;
}
.r-mt-6 {
    margin-top: 6px;
}
.r-mt-7 {
    margin-top: 7px;
}
.r-mt-8 {
    margin-top: 8px;
}
.r-mt-9 {
    margin-top: 9px;
}
.r-mt-10 {
    margin-top: 10px;
}
.r-mt-11 {
    margin-top: 11px;
}
.r-mt-12 {
    margin-top: 12px;
}
.r-mt-13 {
    margin-top: 13px;
}
.r-mt-14 {
    margin-top: 14px;
}
.r-mt-15 {
    margin-top: 15px;
}




}




