@media only screen and (max-width:768px) {

    body {
    /* font-family: "Baloo Da 2", sans-serif; */
    font-family: SolaimanLipiNormal;
    font-size: 15px;
    line-height: 150%;
   overflow-x: hidden;
   color: #333;
}

p.date-and-time {
    font-size: 14px !important;
}




.news-title {
    font-size: 20px;
    font-weight: 100;
    line-height: 1;
    color:  #606060 !important;
    line-height: 1.5;
}

.news-title-lead {
    font-size: 24px;
    font-weight: 100;
    line-height: 1;
    color:  white !important;
    line-height: 1.5;
}


.news-title-responsive {
    font-size: 20px;
    font-weight: 100;
    line-height: 1;
    color:  white !important;
    line-height: 1.5;
}


.news-title-responsive-black {
    font-size: 16px;
    font-weight: 100;
    line-height: 1;
    color:  #606060 !important;
    line-height: 1.5;
}



.news-title-arcive,
.news-title-latest {
    font-size: 20px !important;
    font-weight: 200;
    line-height: 1.25;
    color: #606060 !important;
    /* text-align: right; */
}

.ny-text {
    margin-top: 15px;
}


.p-title-box {
    left: 6px;
    bottom: -8px;
}


.lead-news-title {
    font-size: 24px;
    font-weight: 100;
    line-height: 1;
    color: white !important;
    line-height: 1.2;
}

.policy-title {
    font-size: 18px;
    font-weight: 100;
    line-height: 1;
    line-height: 1.2;
}


.policy-text {
    font-size: 14px;
    line-height: 1;
    line-height: 1.2;
    color: #606060 !important;

}


h4.lead-news-title {
    font-size: 17px !important;
}






.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}


    .entertainment-p-m-0 {
        margin-right: 0;
        padding-right: 0;
    }



}







